@font-face {
    font-family: 'AmaticSC';
    src: url('../fonts/Amatic_SC/AmaticSC-Regular.woff2') format('woff2'),
		 url('../fonts/Amatic_SC/AmaticSC-Regular.woff') format('woff'),
		 url('../fonts/Amatic_SC/AmaticSC-Regular.ttf') format('truetype'),
		 url('../fonts/Amatic_SC/AmaticSC-Regular.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

.fadein { 
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;           
}

.card {
    background-color: #3b2a64;
}

.potionbox {
    display: flex;
}

.potions-container {
    max-width: 90%;
}

.card-body {
    background-color: #3b2a64;
    text-align: center;   
}

.potion {
    min-width: 100px;
}

.card-img-top {
    max-width: 200px;
    margin: auto;    
    display: block;
}

.header-padding{
    min-height: 120px;
}

.btn{
    font-family: AmaticSC;
    font-weight: bold;
    font-size: 50px;
    color: #a8bfeb;
    text-transform: uppercase;
    background-color: #8064A2;
    border-color: #a8bfeb;
    border-width: 3px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #95A5E6;
    border-color: #B097D2;
}

